


ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4B0082 ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4B0082}

.dropdown:hover .dropdown-content {
    display: block;
}

h3 {
font-size:100px;
color: white;

 }

 p {
    text-align: left;
    color: white;

 }

#absolute {
    position:absolute;
    top:250px;
    left:300px;
    width:50%;
    height:50%;
    background:transparent;
    color: white;
}

.centerd {
    display:table-cell;
    vertical-align:middle;
}

img { 
   border: 6px solid white;
}